@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600 !important;
}

.react-calendar__tile--active{
    background-color: #C3E8FA !important;
    color: #000 !important;
}